<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	
	<http auto-config="true" use-expressions="true">
	    <intercept-url pattern="/login**" access="permitAll" />
	    <intercept-url pattern="/resources/**" access="permitAll" />
	    <intercept-url pattern="/**" access="hasRole('1')" />
	    <intercept-url pattern="/admin**" access="hasRole('2')" />

	    <!-- Login Form -->
	    <form-login 
	        login-page="/login"
	        default-target-url="/"
	        authentication-failure-url="/login?error=1" 
	        username-parameter="username"
	        password-parameter="password" />
         
	    <!-- Logout -->
	    <logout logout-success-url="/logout"/>
		<!-- <intercept-url pattern="/user**" access="ROLE_USER" />
		<intercept-url pattern="/users/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/account**" access="hasRole('ROLE_USER')" />
		<form-login/>
		<logout /> -->
		<remember-me key="myAppKey" services-ref="rememberMeServices"/>
	</http>
	<authentication-manager>
		<authentication-provider user-service-ref="loginService">
			<!-- <password-encoder hash="md5"/> -->
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="rememberMeServices"
	      class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
	    <beans:constructor-arg value="myAppKey"/>
	    <beans:constructor-arg ref="loginService"/>
	    <beans:constructor-arg ref="tokenRepository"/>
	    <beans:property name="cookieName" value="remember-me"/>
	    <beans:property name="tokenValiditySeconds" value="86400"/>
	    <beans:property name="parameter" value="remember"/>
	</beans:bean>
	
	<beans:bean id="tokenRepository"
	      class="org.springframework.security.web.authentication.rememberme.InMemoryTokenRepositoryImpl">
	</beans:bean>
</beans:beans>


<!-- 
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.1.xsd">
	
    <security:http auto-config="true" use-expressions="true">
    	<security:intercept-url pattern="/**" access="ROLE_USER" />
	    <security:intercept-url pattern="/login**" access="permitAll" />
	    <security:intercept-url pattern="/resources/**" access="permitAll" />
	    <security:intercept-url pattern="/**" access="hasRole('USER')" />
	    <security:intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
	    <security:form-login 
	        login-page="/login"
	        default-target-url="/"
	        authentication-failure-url="/login?error=1" 
	        username-parameter="username"
	        password-parameter="password" />
	    <security:logout logout-success-url="/logout" />
   	</security:http>
    <security:authentication-manager>
	    <security:authentication-provider user-service-ref="loginService">
	    </security:authentication-provider>
	 </security:authentication-manager>
</beans> -->
